.userinfo {
    display: flex;
    height: 52px;
    flex: 0 0 auto;
}
.userinfo .avatarcontainer {
    display: block;
}
.userinfo .avatarcontainer .avatar {
    display: flex;
}
.userinfo .nametag {
    display: block;
    flex-grow: 1;
}
.userinfo .nametag .username {
    display: flex;
    
}
.userinfo .nametag .extratxt {
    display: flex;
    width: 84px;
}

.guildsidebar {
    display: flex;
    flex-direction: column;
    width:72px;
    flex-shrink: 0;
    overflow: hidden;
}

.guildlist {
    display: flex;
    flex: 1 1 auto
}

.guildbtn {
    
}

.approot {
    display: flex;
    width: 100%;
    height: 100%;
}

.appbase {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.appsidebar {
    display: flex;
    flex-direction: column;
    width:240px;
    flex: 0 0 auto;
}

.appsidebar-main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.appsidebar-scroller {
    flex: 1 1 auto;
}

.chat {
    display: flex;
    flex-direction: column;
}

.channel-item {
    
}

.unread-indicator {

}

.channel-item-content {
    display: flex;
}

.channel-icon-container {

}

.channel-icon {
    display: block;
    flex: 0 0 auto;
}

.channel-name {
    flex: 1 1 auto;
}

.channel-name-inner {

}

.chat-root {
    display: flex;
    flex: 1 1 auto;
}

.channel-header {
    display:flex;
    height: 48px;
    flex: 0 0 auto;
}

.channel-header-children {
    display: flex;
    flex: 1 1 auto;
}

.channel-header-icon-wrapper {
    display: block;
    width:24px;
    height:24px;
    flex: 0 0 auto;
}

.channel-header-icon {
    display:block;
}

.channel-header-title {
    display:flex;
    flex: 0 0 auto;
}

.divider {
    display:block;
    height: 24px;
    width:1px;
    flex: 0 0 auto;
}

.channel-header-topic {
    display:block;
    flex: 1 1 auto;
}

.channel-header-toolbar {
    display:flex;
    flex: 0 0 auto;
}

.channel-header-mute-button-wrapper {
    display:block;
    height:24px;
    width:24px;
    flex: 0 0 auto;
}

.channel-header-mute-button {
    display: block;
    height:24px;
    width:24px;
}

.channel-header-pins-button-wrapper {
    display: block;
    height:24px;
    width:24px;
    flex: 0 0 auto;
}

.channel-header-pins-button {
    display: block;
    height:24px;
    width:24px;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.chat-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.messages-wrapper {
    display: flex;
    flex: 1 1 auto;
}

.messages-scroller {
    display: block;
    flex: 1 1 auto;
}

.messages-scroller-content {
    display: flex;
    flex-direction: column;

}

.messages-scroller-inner {
    display:block;
}

.message-bar-form {
    display: block;
    flex-shrink: 0;
}

.message-bar-channel-text-area {
    display: block;
    width: 982px;
}

.message-bar-scrollable-container {
    display: block
}

.inner-message-bar {
    display: flex;
}

.text-area-slate {
    display:block;
    height: 44px;
    width: 772px;
}

.text-area-placeholder {
    display: block;
}

.message-bar-markup {
    display: block;
}

.message-bar-slate-block {
    display:block
}

.message-bar-slate-text {

}

.message-bar-slate-text-inner {

}

.message-bar-content {

}

.message-bar-buttons {
    display: flex;
    flex-direction: row;
    height: 44px
}

.emoji-button-container {
    display: flex;
}

.select-emoji-button {
    display: flex
}

.select-emoji-button-contents {
    display: block
}

.select-emoji-button-sprite {
    display: block;
    height: 22px;
    width: 22px;
}
