/* 6152 */
.app-2rEoOp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background-tertiary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

/* 6205 */
a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

/* 6226 */
body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent
}

/* 6332 */
.theme-dark{
    --header-primary:#fff;
    --header-secondary:#b9bbbe;
    --text-normal:#dcddde;
    --text-muted:#72767d;
    --text-link:#00b0f4;
    --channels-default:#8e9297;
    --interactive-normal:#b9bbbe;
    --interactive-hover:#dcddde;
    --interactive-active:#fff;
    --interactive-muted:#4f545c;
    --background-primary:#36393f;
    --background-secondary:#2f3136;
    --background-secondary-alt:#292b2f;
    --background-tertiary:#202225;
    --background-accent:#4f545c;
    --background-floating:#18191c;
    --background-mobile-primary:#36393f;
    --background-mobile-secondary:#2f3136;
    --background-modifier-hover:rgba(79,84,92,0.16);
    --background-modifier-active:rgba(79,84,92,0.24);
    --background-modifier-selected:rgba(79,84,92,0.32);
    --background-modifier-accent:hsla(0,0%,100%,0.06);
    --background-mentioned:rgba(250,166,26,0.05);
    --background-mentioned-hover:rgba(250,166,26,0.08);
    --background-message-hover:rgba(4,4,5,0.07);
    --background-help-warning:rgba(250,166,26,0.1);
    --background-help-info:rgba(0,176,244,0.1);
    --scrollbar-thin-thumb:#202225;
    --scrollbar-thin-track:transparent;
    --scrollbar-auto-thumb:#202225;
    --scrollbar-auto-track:#2e3338;
    --scrollbar-auto-scrollbar-color-thumb:#202225;
    --scrollbar-auto-scrollbar-color-track:#2f3136;
    --elevation-stroke:0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low:0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium:0 4px 4px rgba(0,0,0,0.16);
    --elevation-high:0 8px 16px rgba(0,0,0,0.24);
    --logo-primary:#fff;
    --focus-primary:#00b0f4;
    --radio-group-dot-foreground:#8ea1e1;
    --guild-header-text-shadow:0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background:#40444b;
    --activity-card-background:#202225;
    --textbox-markdown-syntax:#8e9297;
    --deprecated-card-bg:rgba(32,34,37,0.6);
    --deprecated-card-editable-bg:rgba(32,34,37,0.3);
    --deprecated-store-bg:#36393f;
    --deprecated-quickswitcher-input-background:#72767d;
    --deprecated-quickswitcher-input-placeholder:hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg:rgba(0,0,0,0.1);
    --deprecated-text-input-border:rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover:#040405;
    --deprecated-text-input-border-disabled:#202225;
    --deprecated-text-input-prefix:#dcddde
}

.wrapper-3t9DeA {
    position: relative;
    border-radius: 50%
}

.button-38aScr {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.sizeIcon-1-kvKI {
    height: auto;
    padding: 4px
}

.grow-q77ONN,.sizeIcon-1-kvKI {
    width: auto
}
.mask-1l8v16 {
    pointer-events: none;
    position: relative;
    display: block;
    height: 100%;
    width: auto
}

.status-1eOIMS,.svg-2V3M55 {
    position: absolute
}



.layers-3q14ss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    min-width: 0;
    min-height: 0
}



ol,ul {
    list-style: none
}

/* 6448 */
a,button,div,input,label,select,span,strong,textarea {
    outline: 0
}

.size10-tblYdA {
    font-size: 10px;
    line-height: 12px
}

.size12-3cLvbJ {
    font-size: 12px;
    line-height: 16px
}

.size14-e6ZScH {
    font-size: 14px;
    line-height: 18px
}

.size16-1P40sf {
    font-size: 16px;
    line-height: 20px
}

.size20-17Iy80 {
    font-size: 20px;
    line-height: 24px
}

.size24-RIRrxO {
    font-size: 24px;
    line-height: 30px
}

.size32-o_H79z {
    font-size: 32px;
    line-height: 40px
}

.colorStandard-2KCXvj {
    color: var(--text-normal)
}

.scrollerBase-289Jih {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.thin-1ybCId {
    scrollbar-width: thin
}

.thin-1ybCId,.thin-1ybCId.fade-2kXiP2:hover,.thin-1ybCId.scrolling-1Cdwk- {
    scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track)
}

.thin-1ybCId::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

.thin-1ybCId::-webkit-scrollbar-track {
    border-color: var(--scrollbar-thin-track);
    background-color: var(--scrollbar-thin-track);
    border: 2px solid var(--scrollbar-thin-track)
}

.thin-1ybCId::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: var(--scrollbar-thin-thumb);
    min-height: 40px
}

.thin-1ybCId::-webkit-scrollbar-corner {
    background-color: transparent
}

.fade-2kXiP2 {
    scrollbar-color: transparent transparent
}

.fade-2kXiP2::-webkit-scrollbar-thumb,.fade-2kXiP2::-webkit-scrollbar-track {
    visibility: hidden
}

.fade-2kXiP2:hover::-webkit-scrollbar-thumb,.fade-2kXiP2:hover::-webkit-scrollbar-track {
    visibility: visible
}

.none-2Eo-qx {
    scrollbar-width: none
}

.none-2Eo-qx::-webkit-scrollbar {
    width: 0;
    height: 0
}

.app-1q1i1E {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    z-index: auto
}

.appMount-3lHmkl,body,html {
    height: 100%;
    width: 100%
}

.appMount-3lHmkl {
    position: absolute;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.appMount-3lHmkl,body {
    background-color: var(--background-tertiary);
    text-rendering: optimizeLegibility
}

::-webkit-input-placeholder,body,button,input,select,textarea {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility
}

::-moz-placeholder,body,button,input,select,textarea {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility
}

:-ms-input-placeholder,body,button,input,select,textarea {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility
}

::placeholder,body,button,input,select,textarea {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility
}

.button-1w5pas {
    position: relative;
    top: 3px;
    opacity: .8;
    -webkit-transition: stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out;
    transition: stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out;
    transition: transform .2s ease-out,stroke-dasharray .2s ease-out;
    transition: transform .2s ease-out,stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out;
    margin-left: 4px
}

.button-1w5pas.open-1Te94t {
    -webkit-transform: translate3d(0,-3px,0) rotate(-90deg);
    transform: translate3d(0,-3px,0) rotate(-90deg)
}

.button-1w5pas.open-1Te94t path {
    stroke-dasharray: 14
}

.button-1w5pas path {
    stroke-width: 2px;
    stroke-dasharray: 7;
    stroke-dashoffset: 1;
    -webkit-transition: stroke-dasharray .2s ease;
    transition: stroke-dasharray .2s ease
}

.bg-h5JY_x {
    background-color: var(--background-tertiary);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.wrapper-3NnKdC {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 72px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    background-color: var(--background-tertiary)
}

.container-3w7J-x {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 0;
    position: relative;
    background-color: var(--background-secondary)
}

.scroller-RmtA4e {
    z-index: 1;
    padding-right: 8px
}

.tree-2wKJdG {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

.container-1taM1r {
    position: relative
}

.clickable-25tGDB {
    cursor: pointer
}

.clickable-25tGDB .header-2V-4Sw {
    cursor: pointer
}

.guildIconContainer-2FW_iA {
    margin-right: 4px
}

.name-1jkAdW {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.name-1jkAdW,.tierTooltipTitle-3AtaZT {
    font-weight: 600
}

.scroller-1Bvpku {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 12px 0 0;
    background-color: var(--background-tertiary);
    contain: layout size
}

.header-2V-4Sw {
    position: relative;
    font-weight: 500;
    padding: 0 16px;
    height: 48px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 3;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    color: var(--header-primary);
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low)
}

.uploadArea-3QgLtW {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: rgba(0,0,0,.8);
    font-size: 36px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    z-index: 2000
}

.uploadArea-3QgLtW strong {
    font-weight: 700
}

.uploadArea-3QgLtW * {
    pointer-events: none
}

.uploadArea-3QgLtW.droppable-1orUyP {
    visibility: visible
}

.uploadArea-3QgLtW.uploadModalIn-1z07Bv {
    opacity: 1
}

.title-3qD0b- {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    z-index: 100
}



.container-1r6BKw,.container-1r6BKw * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.container-1r6BKw {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 0;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 48px;
    padding: 0 8px;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    z-index: 2;
    color: var(--text-normal)
}

.children-19S4PO {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 0;
    overflow: hidden
}

.children-19S4PO:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%
}

.theme-dark .children-19S4PO:after {
    background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),to(var(--background-primary)));
    background: linear-gradient(90deg,rgba(54,57,63,0) 0,var(--background-primary))
}

.toolbar-1t6TWx {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 0
}

.title-29uC1r,.toolbar-1t6TWx {
    -webkit-box-flex: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.title-29uC1r {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 8px 0 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: auto;
    overflow: hidden;
    white-space: nowrap;
}

.divider-3FBTu8 {
    width: 1px;
    height: 24px;
    margin: 0 8px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: var(--background-modifier-accent)
}

.iconWrapper-2OrFZ1 {
    position: relative;
    height: 24px;
    width: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 8px
}

.icon-22AiRD {
    display: block;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    color: var(--text-muted)
}

.chat-3bRxxu {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.chat-3bRxxu .uploadArea-1qnBZm {
    position: fixed
}

.hoverRoll-YK53gQ {
    display: inline-block;
    vertical-align: top;
    cursor: default;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    contain: paint
}

.hoverRoll-YK53gQ.forceHover-10IIq8:not(.disabled-3Vq5Ov) .default-3sgIpy,.hoverRoll-YK53gQ:hover:not(.disabled-3Vq5Ov) .default-3sgIpy {
    -webkit-transform: translate3d(0,-107%,0);
    transform: translate3d(0,-107%,0);
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.hoverRoll-YK53gQ.forceHover-10IIq8:not(.disabled-3Vq5Ov) .hovered-d5PMVU,.hoverRoll-YK53gQ:hover:not(.disabled-3Vq5Ov) .hovered-d5PMVU {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1
}

.default-3sgIpy,.hovered-d5PMVU {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    -webkit-transition: all .22s ease;
    transition: all .22s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    pointer-events: none;
    width: 100%
}

.hovered-d5PMVU {
    opacity: 0;
    -webkit-transform: translate3d(0,107%,0);
    transform: translate3d(0,107%,0);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.container-3baos1 {
    height: 52px;
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 1px
}

.container-3baos1,.container-3baos1 .avatar-SmRMf2 {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.container-3baos1 .avatar-SmRMf2 {
    cursor: pointer
}

.container-3baos1 .avatar-SmRMf2:hover {
    opacity: .8
}

.avatarWrapper-2yR4wp {
    margin-right: 8px
}

.nameTag-3uD-yy {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 4px;
    min-width: 0
}

.nameTag-3uD-yy.canCopy-2VBT7N {
    cursor: pointer
}

.usernameContainer-1fp4nu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.customStatus-3tC2ig {
    overflow: hidden;
    text-overflow: ellipsis
}

.wrapper-24pKcD {
    position: relative;
    overflow: visible
}

.content-yTz4x3 {
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative
}
.chatContent-a9vAAp {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}
.messagesWrapper-1sRNjr {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    z-index: 0
}

.messagesWrapper-1sRNjr,.scrollerContent-WzeG7R {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.scrollerContent-WzeG7R {
    overflow-anchor: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 100%
}

.scroller-2LSbBU {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.scroller-2LSbBU::-webkit-scrollbar-track {
    margin-bottom: 8px
}

.overlay .scroller-2LSbBU::-webkit-scrollbar-track {
    margin-bottom: 0
}
.uploadInput-1XtQef {
    position: relative;
    width: 0;
    height: 0;
    pointer-events: none
}
.attachWrapper-2TRKBi {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-item-align: stretch;
    align-self: stretch
}
.attachButton-2WznTc {
    height: 44px;
    padding: 10px 16px;
    top: 0
}
.attachButton-2dnuIu {
    margin-left: -16px
}
.lookBlank-3eh9lL {
    background: transparent;
    color: currentColor;
    border: 0;
    padding: 0;
    margin: 0
}
.attachButton-2WznTc,.attachWrapper-2TRKBi {
    position: -webkit-sticky;
    position: sticky
}
.attachButtonInner-PQjIyk {
    height: 24px
}

.scrollerInner-2YIMLh {
    min-height: 0
}
.inner-MADQqc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative
}
.innerDisabled-1YTFPN {
    cursor: not-allowed
}

.sansAttachButton-td2irx {
    padding-left: 16px
}

.attachButton-2dnuIu {
    margin-left: -16px
}
.form-2fGMdU {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -8px
}

.form-2fGMdU:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: .5rem;
    width: 1.25rem
}

.theme-dark .form-2fGMdU:before {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(54,57,63,0)),to(var(--background-primary)));
    background: linear-gradient(180deg,rgba(54,57,63,0) 0,var(--background-primary))
}

/* 36095 */
.channelTextArea-2VhZ6z { 
    position: relative;
    width: 100%;
    text-indent: 0;
    border-radius: 8px
}

/* 36111 */
.scrollableContainer-2NUZem {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--channeltextarea-background);
    max-height: 50vh;
    border-radius: 8px;
    scrollbar-width: none;
}

.channelTextArea-2VhZ6z.highlighted-2eSV1B {
    -webkit-box-shadow: 0 0 0 4px var(--focus-primary);
    box-shadow: 0 0 0 4px var(--focus-primary)
}

/* 55725 */
.channelTextArea-rNsIhG {
    margin-bottom: 24px;
    background-color: var(--background-primary)
}

.guilds-1SWlCJ {
    position: relative;
    width: 72px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.base-3dtUhz {
    flex-direction: column;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.base-3dtUhz,.sidebar-2K8pFh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    overflow: hidden
}

.sidebar-2K8pFh {
    flex-direction: column;
    min-height: 0;
    width: 240px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: var(--background-secondary)
}

.topic-TCb_qw {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    margin: 0 0 0 8px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    color: var(--header-secondary)
}

.topic-TCb_qw a {
    color: var(--text-link)
}

.topic-TCb_qw a:hover {
    text-decoration: underline
}

@media (-webkit-max-device-pixel-ratio: 1) {
    .theme-light .topic-TCb_qw {
        font-weight:400
    }
}
.textArea-12jD-V {
    background-color: transparent;
    resize: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
    height: 44px;
    min-height: 44px;
    color: var(--text-normal);
    padding-left: 0;
    padding-right: 10px
}
.topic-TCb_qw.expandable-9fI_e3 {
    cursor: pointer
}

.panels-j1Uci_ {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: var(--background-secondary-alt);
    z-index: 1
}
.chat-3bRxxu,.threadSidebar-1o3BTy {
    min-width: 0;
    min-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: var(--background-primary)
}

.content-98HsJk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}
.slateTextArea-1Mkdgw {
    caret-color: var(--text-normal);
    position: absolute;
    left: 0;
    right: 10px;
    text-align: left;
    word-break: break-word;
    white-space: break-spaces!important
}

.slateTextArea-1Mkdgw pre {
    max-width: none
}
.markup-2BOw-j {
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: var(--text-normal);
    font-weight: 400
}

.markup-2BOw-j a {
    color: var(--text-link);
    word-break: break-word;
    text-decoration: none;
    cursor: pointer
}

.markup-2BOw-j a:hover {
    text-decoration: underline
}

.markup-2BOw-j strong {
    font-weight: 700
}

.markup-2BOw-j em {
    font-style: italic
}

.markup-2BOw-j pre {
    border-radius: 4px;
    padding: 0;
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 6px;
    white-space: pre-wrap;
    background-clip: border-box
}

.markup-2BOw-j blockquote,.markup-2BOw-j pre {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 90%
}

.markup-2BOw-j blockquote {
    text-indent: 0
}

.markup-2BOw-j blockquote pre {
    max-width: 100%
}

.markup-2BOw-j code {
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: var(--background-tertiary) var(--background-secondary);
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary)
}

.markup-2BOw-j code.inline {
    width: auto;
    height: auto;
    padding: .2em;
    margin: -.2em 0;
    border-radius: 3px;
    font-size: 85%;
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
    text-indent: 0;
    border: none;
    white-space: pre-wrap
}
.buttons-3JBrkn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 44px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-right: 4px
}

.webkit-HjD9Er .buttons-3JBrkn {
    margin-right: -6px
}

.buttonContainer-28fw2U {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.button-318s1X {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px
}
.placeholder-37qJjk,.slateTextArea-1Mkdgw .hljs-comment,.slateTextArea-1Mkdgw .hljs-quote {
    color: var(--text-muted)
}
.emojiButton-3uL3Aw {
    max-height: 50px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.placeholder-37qJjk {
    left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.placeholder-37qJjk,.slateTextArea-1Mkdgw {
    padding-right: 10px
}
.slateContainer-3Qkn2x {
    position: relative
}
.subtext-3CDbHg {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--header-secondary);
    line-height: 13px
}

.subtext-3CDbHg {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--header-secondary);
    line-height: 13px
}

.title-eS5yk3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--header-primary);
    line-height: 18px;
    font-weight: 600
}

.layers-3iHuyZ {
    position: relative;
    overflow: hidden
}

.layers-3iHuyZ>.layer-3QrUeG {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.layer-3QrUeG {
    background-color: var(--background-primary)
}

.layer-3QrUeG.baseLayer-35bLyl {
    background-color: transparent
}

.container-2lgZY8 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}